(
    pattes: 6706,
    total_kills: 3867,
    unlocked: [
        Pesticide,
        Rateau,
        Pelle,
        Karcher,
        Tronconneuse,
        Pioche,
        Faux,
        Hache,
        Serpe,
        PicDeVigne,
    ],
    claimable: [],
    achievements: [
        "kills_100",
        "first_boss",
        "two_boss_run",
        "all_bosses",
        "terrasse",
    ],
    bosses_beaten: [
        "plaine",
        "savane",
        "jungle",
        "potager",
        "jardin",
        "boue",
        "terre_seche",
        "dalles",
        "gravier",
    ],
    up_hp: 3,
    up_speed: 3,
    up_dash: 2,
    up_pattes: 2,
    terrasse_unlocked: true,
    best_terrasse: 92.41865,
    runs: 62,
    deaths: 43,
    tools_bought_this_cycle: 0,
)