(
    pattes: 2917,
    total_kills: 2326,
    unlocked: [
        Poings,
        Arrosoir,
        PetitePelle,
        Rateau,
        Pelle,
        Karcher,
    ],
    claimable: [],
    achievements: [
        "kills_100",
        "first_boss",
        "two_boss_run",
        "all_bosses",
        "terrasse",
    ],
    bosses_beaten: [
        "plaine",
        "savane",
        "jungle",
        "potager",
        "jardin",
        "boue",
        "terre_seche",
        "dalles",
        "gravier",
    ],
    up_hp: 3,
    up_speed: 3,
    up_dash: 2,
    up_pattes: 2,
    terrasse_unlocked: true,
    best_terrasse: 78.83161,
    runs: 43,
    deaths: 38,
    tools_bought_this_cycle: 0,
)